@font-face {
    font-family: 'WDXL Lubrifont SC';
    src: url('WDXLLubrifontSC-Regular.eot');
    src: url('WDXLLubrifontSC-Regular.eot?#iefix') format('embedded-opentype'),
        url('WDXLLubrifontSC-Regular.woff2') format('woff2'),
        url('WDXLLubrifontSC-Regular.woff') format('woff'),
        url('WDXLLubrifontSC-Regular.ttf') format('truetype'),
        url('WDXLLubrifontSC-Regular.svg#WDXLLubrifontSC-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

