body{
    background-image: url("../images/backgrounds/dashboard.jpg");
    background-size: 100%;
}


.page_center{
    max-width: 900px;
    margin: auto;
}

.dash_section_bar{
    background-image: linear-gradient(90deg, rgb(26, 37, 37), rgb(44, 63, 63));
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.267);

    border: 1px solid lightblue;
    border-top-color: #6d8b95;
    border-left-color: rgb(59 76 81);
    border-right-color: rgb(72 94 101);
    border-bottom-color: rgb(57 77 83);
}

.dash_section_title{
    font-family: 'Pacifico';
    color: white;
    font-size: 30px;
    padding: 10px 0px;
}

#project_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
    margin: 5px 0px;
}

.board_tabloid{
    position: relative;
    background-color: #2d383b;
    color: white;
    border-radius: 10px;
    min-height: 100px;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    box-shadow: 0px 3px 5px black;
}
.board_tabloid:hover{
    background-color: #51656b;
}

.board_tabloid span{
    font-family: 'Pacifico';
    font-size: 20px;
    color: white;
    padding: 10px;
}


.board_trash_btn:hover{
    opacity: 1.0;
}
.board_trash_btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 25px;
    opacity: 0.25;
    transition: opacity 0.25s ease-out;
}

.del_proj_name{
    font-weight: 600;
    color: orange;
}

.prompt_info{
    padding: 20px 0px;
    text-align: center;
    font-family: 'WDXL Lubrifont SC';
    font-size: 20px;
    line-height: 30px;
}

.del_name_input{
    text-align: center;
    font-size: 30px;
    color: orange;
}