body{
    background-image: url("../images/backgrounds/pexels-fatih-turan-63325184-17997896.jpg");
    background-size: 100%;
}

.login_header{
      color:white;
    font-family: 'SUSE Mono';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
}

.login_panel{
    background-color: rgb(37, 50, 58);
    border-radius: 10px;
    display: grid;
    row-gap: 5px;
    max-width: 300px;
    margin: auto;
    padding: 15px;
    
    border: 1px solid lightblue;
    border-top-color: lightblue;
    border-left-color: rgb(116, 148, 158);
    border-right-color: rgb(116, 148, 158);
    border-bottom-color: rgb(67, 90, 97);

    position: fixed;
    top:50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    box-shadow: 0px 5px 10px black;
}

.login_panel span{
    color:white;
    font-family: 'SUSE Mono';
    margin-bottom: 20px;
}

.login_panel input::placeholder{
    color: rgb(170, 169, 169)
}
.login_panel input{
    color: white;
    border-radius: 5px;
    padding:5px;
    background-color: rgb(78, 94, 94);

    border: 1px solid lightblue;
    border-top-color: lightblue;
    border-left-color: rgb(116, 148, 158);
    border-right-color: rgb(116, 148, 158);
    border-bottom-color: rgb(67, 90, 97);
}

.oneliner{
    color: white;
    font-family: 'Courgette';
    margin:auto;
    display: block;
    text-align: center;
    font-size: 20px;
}

.login_links{
    display: flex;
    column-gap: 20px;
}

.login_links a{
    color: gray;
    text-decoration: none;
}