.status_popup{
    display: grid;
    column-gap: 5px;
    grid-template-columns: auto max-content;
    background-color: lightgreen;
    padding: 3px;
    border-radius: 5px;
    max-width: max-content;
    white-space: pre-wrap;
}

.status_popup span{
    font-size: 10px;
}

#status_float_box{
    position: fixed;
    left:15px;
    bottom: 15px;
    width: max-content;
    display: grid;
    row-gap: 5px;
    z-index: 100;
}

.popup_bad{
    background-color: crimson;
    color: white;
}

.popup_warning{
    background-color: orange;
}

.popup_close{
    /* padding: 0px 15px; */
    width: 10px;
    height: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    filter: invert();
}

.popup_close_icon:hover{
    opacity: 1.0;
    /* line-height: 10px; */
 
}

.popup_close_icon{
    opacity: 0.5;
    width: 10px;
    opacity: 0.5;
    pointer-events: none;
    filter: invert();
    padding: 2px;
    cursor: pointer;
}

.mini_status_box{
    display: grid;
    row-gap: 5px;
}