.status_popup{
    display: grid;
    grid-template-columns: auto max-content;
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
    max-width: 95vw;
    white-space: pre-wrap;
}

#status_float_box{
    position: fixed;
    left:10px;
    bottom: 10px;
    width: max-content;
}

.popup_bad{
    background-color: crimson;
    color: white;
}

.popup_warning{
    background-color: orange;
}

.popup_close{
    padding: 5px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.popup_close:hover .popup_close_icon{
    opacity: 1.0;
}

.popup_close_icon{
    width: 100%;
    opacity: 0.5;
    pointer-events: none;
}