@font-face {
    font-family: 'SUSE Mono';
    src: url('fonts/SUSEMono-Thin/SUSEMono-Thin.eot');
    src: url('fonts/SUSEMono-Thin/SUSEMono-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/SUSEMono-Thin/SUSEMono-Thin.woff2') format('woff2'),
        url('fonts/SUSEMono-Thin/SUSEMono-Thin.woff') format('woff'),
        url('fonts/SUSEMono-Thin/SUSEMono-Thin.ttf') format('truetype'),
        url('fonts/SUSEMono-Thin/SUSEMono-Thin.svg#SUSEMono-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courgette';
    src: url('fonts/Courgette-Regular/Courgette-Regular.eot');
    src: url('fonts/Courgette-Regular/Courgette-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Courgette-Regular/Courgette-Regular.woff2') format('woff2'),
        url('fonts/Courgette-Regular/Courgette-Regular.woff') format('woff'),
        url('fonts/Courgette-Regular/Courgette-Regular.ttf') format('truetype'),
        url('fonts/Courgette-Regular/Courgette-Regular.svg#Courgette-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WDXL Lubrifont SC';
    src: url('fonts/WDXLLubrifontSC-Regular/WDXLLubrifontSC-Regular.eot');
    src: url('fonts/WDXLLubrifontSC-Regular/WDXLLubrifontSC-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/WDXLLubrifontSC-Regular/WDXLLubrifontSC-Regular.woff2') format('woff2'),
        url('fonts/WDXLLubrifontSC-Regular/WDXLLubrifontSC-Regular.woff') format('woff'),
        url('fonts/WDXLLubrifontSC-Regular/WDXLLubrifontSC-Regular.ttf') format('truetype'),
        url('fonts/WDXLLubrifontSC-Regular/WDXLLubrifontSC-Regular.svg#WDXLLubrifontSC-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico-Regular/Pacifico-Regular.eot');
    src: url('fonts/Pacifico-Regular/Pacifico-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Pacifico-Regular/Pacifico-Regular.woff2') format('woff2'),
        url('fonts/Pacifico-Regular/Pacifico-Regular.woff') format('woff'),
        url('fonts/Pacifico-Regular/Pacifico-Regular.ttf') format('truetype'),
        url('fonts/Pacifico-Regular/Pacifico-Regular.svg#Pacifico-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





.button_green:hover{
    background-color: lightgreen;
}
.button_green{
    background-color: rgb(204, 243, 204);
    border: 1px solid #70d570;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

body{
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

.nav{
    background-color: rgb(26, 37, 37);
    background-image: linear-gradient(90deg, rgb(26, 37, 37), rgb(44, 63, 63));
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.295);

    border-radius: 0px 0px 10px 10px ;
}

.nav a:hover{
    background-color: rgb(79, 110, 110);
}
.nav a{
    background-color: rgb(51, 73, 73);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-family: 'WDXL Lubrifont SC';
}

.header_title{
    font-family: 'SUSE Mono';
    color:white;
    margin-right: 20px;
}

.nav_div{
    max-width: 900px;
    margin: auto;
}

.input_style {
    background-color: rgb(51, 73, 73);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-family: 'WDXL Lubrifont SC';
    border: none;
}

.input_style[type='button']:hover{
    background-color: rgb(74, 105, 105);
}
.input_button:disabled{
    opacity: 0.5;
}
.input_button{
    cursor: pointer;
}

.input_crimson{
    background-color: rgb(128, 23, 44);
    transition: background-color 0.25s ease-out;
}
.input_crimson:hover{
    background-color: crimson !important;
}


.prompt_bg{
    background-color: rgba(0, 0, 0, 0.514);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.prompt_panel{
    background-image: linear-gradient(90deg, rgb(26, 37, 37), rgb(44, 63, 63));
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    row-gap: 5px;
    color: white;
    box-shadow: 0px 5px 5px black;
}

.prompt_panel:input{
    width: 400px;
}

.page_center{
    max-width: 900px;
    margin: auto;
    position: relative;
}

.dash_section{
    position: absolute;
    top: 0px;
    left: 0px;
    transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    width: 100%;
}

.dash_exit_left{
    left: -60%;
    opacity: 0.1;
}

.dash_exit_right{
    left: 60%;
    opacity: 0.1;
}



.load_rotating{
    width: 25px;
    transition: opacity 0.25s ease-out;
    transform: rotate(-25deg);
    cursor: pointer;
    animation: laod_rotate 1s ease-out 0s infinite;
    /* compensate for rotation offset */
    margin: -8px;
    margin-left: 5px;
}

.load_rotating_bot_left{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 25px;
    transition: opacity 0.25s ease-out;
    transform: rotate(-25deg);
    cursor: pointer;
    animation: laod_rotate 1s ease-out 0s infinite;
}
.load_invisible{
    opacity: 0.0;
}

@keyframes laod_rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
    
}

.input_disabled{
    pointer-events: none;
}

.tabloid_input_disabled{
    filter:brightness(50%);
    pointer-events: none;
}

.disabled_dark{
    filter:brightness(50%) !important;
    transition: filter 0.5s ease-out;
    pointer-events: none;
}